<table class="table table-responsive table-hover" style="width: 100%;">
  <thead>
    <tr>
      <th id="th1">
        Num
      </th>
      <th id="th2">
        CIN
      </th>
      <th id="th3">
        Nom client
      </th>
      <th id="th3">
        Prénom client
      </th>
      <th id="th3">
        Date de saisie
      </th>
      <th id="th3">
        Date de modification
      </th>
      <th id="th3">
        Status
      </th>
      <th id="th3">
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of demandes" >
      <!-- | paginate: { itemsPerPage: 10, currentPage: p }" -->
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
          <i class="fa fa-info-circle" style="color:#07AECF;"></i>
          <i class="fas fa-edit" style="color:#08F294;"></i>
          <i class="fas fa-trash" style="color:#DD2808;"></i>
      </td>
    </tr>
  </tbody>
</table>
<!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->

<!-- <ng-template #updatetemplate>
    <form class="form-horizontal">
        <div class="modal-header">
            <h3 class="modal-title pull-left">Modification de l'employée {{employeToupdate.prenom_emp}}
                {{employeToupdate.nom_emp}}</h3>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="col-sm-4 pull-left">
                    <label class="control-label">Nom*</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="employeToupdate.nom_emp"
                        [ngModelOptions]="{standalone: true}" id="nom" name="nom" required #nom="ngModel">
                    <div *ngIf="nom.errors && (nom.dirty || nom.touched)" class="alert alert-danger">
                        <div [hidden]="!nom.errors.required">
                            Champ obligatoire!
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 pull-left">
                    <label class="control-label">Prénom*</label></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="employeToupdate.prenom_emp"
                        [ngModelOptions]="{standalone: true}" name="prenom" id="prenom" required #prenom="ngModel">
                    <div *ngIf="prenom.errors && (prenom.dirty || prenom.touched)" class="alert alert-danger">
                        <div [hidden]="!prenom.errors.required">
                            Champ obligatoire!
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 pull-left">
                    <label class="control-label">Date de naissance*</label></div>
                <div class="col-sm-8">
                    <input type="date" class="form-control" [(ngModel)]="employeToupdate.date_naiss_emp"
                        [ngModelOptions]="{standalone: true}" id="date_naiss" nom="date_naiss" required
                        #date_naiss="ngModel">
                    <div *ngIf="date_naiss.errors && (date_naiss.dirty || date_naiss.touched)"
                        class="alert alert-danger">
                        <div [hidden]="!date_naiss.errors.required">
                            Champ obligatoire!
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 pull-left">
                    <label class="control-label">Sexe*</label></div>
                <div class="col-sm-8">
                    <select type="date" class="form-control" [(ngModel)]="employeToupdate.sexe_emp"
                        [ngModelOptions]="{standalone: true}" name="sexe" id="sexe" required #sexe="ngModel">
                        <option selected disabled="true">Selectionnez genre</option>
                        <option value="Homme">Homme</option>
                        <option value="Femme">Femme</option>
                    </select>
                    <div *ngIf="sexe.errors && (sexe.dirty || sexe.touched)" class="alert alert-danger">
                        <div [hidden]="!sexe.errors.required">
                            Choix obligatoire!
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 pull-left">
                    <label class="control-label">Email*</label></div>
                <div class="col-sm-8">
                    <input type="email" class="form-control" [(ngModel)]="employeToupdate.email_emp"
                        [ngModelOptions]="{standalone: true}" name="email" id="email" required #email="ngModel"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                        <div [hidden]="!email.errors.required">
                            Champ obligatoire!
                        </div>
                        <div [hidden]="!email.errors.pattern">
                            Email invalide!!
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 pull-left">
                    <label class="control-label">Adresse*</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="employeToupdate.adresse"
                        [ngModelOptions]="{standalone: true}" name="adresse" id="adresse" required #adresse="ngModel">
                    <div *ngIf="adresse.errors && (adresse.dirty || adresse.touched)" class="alert alert-danger">
                        <div [hidden]="!nom.errors.required">
                            Champ obligatoire!
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 pull-left">
                    <label class="control-label">Numéro de telephone*</label>
                </div>
                <div class="col-sm-8">
                    <input type="tel" class="form-control" [(ngModel)]="employeToupdate.tel_emp"
                        [ngModelOptions]="{standalone: true}" minlength="8" maxlength="8" id="tel" name="tel" required
                        #tel="ngModel">
                    <div *ngIf="tel.errors && (tel.dirty || tel.touched)" class="alert alert-danger">
                        <div [hidden]="!tel.errors.required">
                            Champ obligatoire!
                        </div>
                        <div [hidden]="!tel.errors.minlength">
                            Numéro de telephone invalide!!
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 pull-left">
                    <label class="control-label">Login*</label></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="employeToupdate.login"
                        [ngModelOptions]="{standalone: true}" id="login" name="login" required #login="ngModel">
                    <div *ngIf="login.errors && (login.dirty || login.touched)" class="alert alert-danger">
                        <div [hidden]="!login.errors.required">
                            Champ obligatoire!
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="file" multiple name="pic" id="pic" accept="image/*"
                        (change)="handleFileSelectUpdate($event)" required />
                    <label id="upload-photo-label" for="pic">PHOTO</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <img *ngIf="url" [src]="url" id="img" height="200">
                    <img *ngIf="!url" src="data:image/jpg;base64,{{ employeToupdate.photo }}" height="200">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success pull-left" (click)="updateEmployee();" [disabled]="nom.errors||prenom.errors||date_naiss.errors||sexe.errors||email.errors||tel.errors||login.errors
                ||adresse.errors">Modifier</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Annuler</button>

        </div>
    </form>
</ng-template>

<ng-template #details>
    <div class="modal-header">
        <h3 class="modal-title pull-left">{{selectedEmployee.nom_emp}} {{selectedEmployee.prenom_emp}}</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
         
        <table>
            <tr>
                <td style="width: 50%;">
                    <img src="data:image/jpg;base64,{{ selectedEmployee.photo }}" style="width: 90%;"
                        *ngIf="selectedEmployee.photo">
                    <img src="../../../assets/img/person-placeholder.jpg" style="width: 90%;"
                        *ngIf="!selectedEmployee.photo">
                </td>
                <td>
                  
                    <div style="margin-left:20px; font-size: 14;">
                        <strong>Naissance:</strong> {{selectedEmployee.date_naiss_emp}}<br>
                        <strong>Genre:</strong> {{selectedEmployee.sexe_emp}}<br>
                        <strong>Adresse:</strong> {{selectedEmployee.adresse}}<br>
                        <strong>Email:</strong> {{selectedEmployee.email_emp}}<br>
                        <strong>Numero de telephone:</strong> {{selectedEmployee.tel_emp}}<br>
                        <strong>Login:</strong> {{selectedEmployee.login}}<br>
                        <strong>Ajouté le:</strong> {{selectedEmployee.date_ajout}}<br>
                        <strong>Modifié le:</strong> {{selectedEmployee.date_modification}}<br>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</ng-template> -->

<ng-template #confirmDelete>
    <div class="modal-body text-center">
        <p>Êtes-vous sûr de vouloir supprimer cette demande ?</p>
        <button type="button" style="margin-right: 7px;" class="btn btn-default" (click)="confirm()">Oui</button>
        <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Non</button>
    </div>
</ng-template>